@font-face {
    font-family: "Roboto Flex Regular";
    src: url("../fonts/RobotoFlex-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Right Grotesk";
    src: url("../fonts/PPRightGrotesk-CompactDark.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}